/* my variables */
:root {
  --black: #000;
  --white: #fafafa;
  --pink: #FFF8F3;
  --orange: #FFBD59;
}


/* my styles */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.page {
  display: block;
  /* display: flex; */
  /* justify-content: start; */
  /* align-items: center; */
  /* flex-direction: column; */
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: 'Yeseva One', cursive; */
  font-family: 'Comfortaa', cursive;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--black, #000);
  background-color: var(--white, #fff);
}

.container {
  /* width: 100%; */
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid green;
}


/*
 * header
 */
.header {
  display: block;
  /* display: flex; */
  /* margin: auto; */
  min-height: 70px;
  width: 100%;
  padding-top: 4px;
  padding-bottom: 30px;
  background-color: var(--pink);
}

.header__container {
  border: 1px solid lawngreen;
}


.btn {
  display: flex;
  padding: 10px 25px;
  border-radius: 0;
  border: 1px solid var(--orange);
  background-color: var(--orange);
  font-style: italic;
  font-family: Comfortaa;
}


.link {
  /* text-decoration: none; */
  font-family: Comfortaa, cursive;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.link:hover {
  opacity: .7;
}

.menu {
  display: flex;
}
.menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  list-style: none;
}
.menu__item {
  display: flex;
}
.menu__link {
  /* текст 14 */
  font-family: Comfortaa;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}


.header__phone {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header__phone-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2px;
}



/* * main * */
.main {
  border: 1px solid magenta;
}
section {
  /* border: 1px solid violet; */
  padding: 15px 0;
}


.hero {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  min-height: 500px;
}
.hero__container {
  display: flex;
  width: 100%;
  height: 100%;
}
.hero__content {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.hero__title {
  font-family: 'Yeseva One', cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  margin-bottom: 20px;
}
.hero__text {
  display: flex;
  font-size: 14px;
  margin-bottom: 45px;
}
.hero__btn {
  display: flex;
}



.logo {
  display: flex;
  width: 70px;
  height: 70px;
}
.logo__img {
  width: 70px;
  height: 70px;
}


/*
 * footer
 */
.footer {
  display: block;
  min-height: 165px;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 230px;
  background-color: var(--pink);
}
.footer__container {
  border: 1px solid orange;
}


.footer__logo {
  display: block;
  width: 70px;
  height: 70px;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 17px;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  list-style: none;
}

