/* my variables */
:root {
  --black: #000;
  --white: #fafafa;
  --pink: #FFF8F3;
  --orange: #FFBD59;
}


/* my styles */
* {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.page {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  font-family: 'Yeseva One', cursive;
  font-family: 'Comfortaa', cursive;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--black, #000);
  background-color: var(--white, #fff);
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: max-content;
  min-width: 1162px;
  background-color: var(--pink);
}



/*
 * header
 */
.header {
  display: flex;
  margin: auto;
  min-height: 70px;
}

.header__container {
  border: 1px solid lawngreen;
}




.link {
  color: #000;
  text-decoration: none;
  font-family: Comfortaa, cursive;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.link:hover {
  opacity: .7;
}

.menu {
  display: flex;
}
.menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  list-style: none;
}
.menu__item {
  display: flex;
}
.menu__link {
  display: flex;
  color: #000;
  text-decoration: none;
  /* текст 14 */
  font-family: Comfortaa;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}


.header__phone {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header__phone-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2px;
}


.logo {
  display: flex;
  width: 70px;
  height: 70px;
}
.logo__img {
  width: 70px;
  height: 70px;
}



/*
 * footer
 */
.footer {
  display: flex;
  margin: auto;
  min-height: 165px;
}
.footer__container {
  border: 1px solid orange;
}


.footer__logo {
  display: block;
  width: 70px;
  height: 70px;
  /* background-image: url(../img/logo-candler-70.png); */
  /* background-size: cover; */
  /* background-position: center; */
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 17px;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  list-style: none;
}


